NODE_ENV=development
APP_URL=http://localhost:4200/
SECRET=5db16b9d-9bf8-4ba0-8d5d-7e6f847e4066
APP_NAME='Shop Now Now'
SUPPORT_EMAIL=support@shop-now-now.com
DOMAIN=shop-now-now.com
TWO_FACTOR_AUTHENTICATION_APP_NAME=shop-now-now
APP_ADMIN_URL=http://localhost:4200/
APP_SERVER_URL=http://localhost:8000/
DEFAULT_AVATAR=avatar.png

# DB
DB_HOST=
DB_PORT=
DB_USER=
DB_USE_PASS=
DB_PASS=
DB_NAME=

# Application listening port
PORT=3000

# BULL
BULL_NOTIFICATION_QUEUE=notification

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

IP=

SWAGGER_PASSWORD=2024